body{
    background-color: black;
    color: white;
    font: 15px/1.5 Arial, Helvetica, sans-serif ;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#container{
    display: flex;
}

/* reset stile button */
.btn-reset {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }

main{
    width: 95%;
    margin: 0 5px 0 0px;
}

nav{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 0 auto;
    padding-block: 8px;
    box-sizing: border-box;
    min-width: min-content;
}

#navbar{
        display: flex;
        align-items: center;
        gap: 1rem;
}
#navbar img{
    width: 109px;
}

/* aside  */
#topbar-aside{
    display: flex;
    gap: 1rem;
    padding: 8px 16px 8px 16px;
    margin: 0 auto;
}
#topbar-aside i{
    font-size: 24px;
   padding-left: 8px;
}

aside button{
    border-radius: 16px;
    color: #5f6368;
    height: 56px;
    min-width: 96px;
    height: 56px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    padding-inline: 30px;
    margin: 8px 0 16px 10px;
}

aside li{
    font-size: .875rem;
    display: flex;
    gap: 1rem;
    padding: 8px 16px 8px 24px;
    margin: 0 auto;
}

aside h3{
    display: flex;
    gap: 1rem;
    padding: 8px 16px 8px 24px;
    margin: 0 auto; 
    font-size: 16px;
text-transform: none;
font-weight: 500;
justify-content: space-between;
}

#scroll-div{
    height: 420px;
  overflow-y: auto;
  margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
  }

  /* topbaar main content  */
#searchbar{
    display: flex;
    gap: 1rem;
    background-color: rgba(241,243,244,.24);
    border: 1px solid transparent;
    border-radius: 8px;
    width: 70%;
    padding: 6px;
}

#searchbar input{
    border: medium none;
padding: 0px;
margin: 0px;
height: auto;
width: 100%;
background: transparent url("data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D");
left: 0px;
}

#searchbar span {
    padding-inline: 1rem;
}

#toolbar-section-top{
    display: flex;
    justify-content: space-between;
    padding: 2px 0 18px 0;
}

#toolbar-section-top > div {gap: 1rem;}

#icon-top-left, #icon-top-right{
    display: flex;
}

/* main content */

section{
    background-color: rgba(51,51,51,0.8);
    border-radius: 16px;
    margin-bottom: 16px;
    overflow-y: hidden;
    padding: 8px;
    padding-left: 16px;
    padding-right: 24px;
  }
  toolbar-section-bottom-buttons, button{
    width: 35%;
    padding-block: 14px;
  }
  .btn-reset > i{
    padding-right: 1rem;
  }

  .email{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }
  .left-part-email{
    display: flex;
    gap: 1rem;
    width: 30%;
  }
  .email-object{width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  .email-icons{
    display: flex;
    gap: 1rem;
  }
  